<div id='container' class="">
  <div id='dash-bar'>
    <h3>UAS Grants and Contracts Intake Form</h3>
    <app-bread-crumb [index]='index' [pages]='breadCrumbStrings'></app-bread-crumb>
    <div [ngStyle]='setProgressBar(34)'></div>
  </div>
  <!-- first page A,B,C -->
  <div *ngIf='index==0' id='general-info'>
    <p class='title'>General Information</p>
    <label>Principal Investigator</label>
    <input type="text" [(ngModel)]='intakeForm.principalInvestigator' pInputText>
    <label>College</label>
    <input type="text" pInputText>
    <label>Sponsor</label>
    <input type="text" [(ngModel)]='intakeForm.sponsor' pInputText>
    <label>Project Title</label>
    <input type="text" [(ngModel)]='intakeForm.projectTitle' pInputText>
    <label> Proposed Funding Amount $</label>
    <input type="text" [(ngModel)]='intakeForm.proposedFundingAmount' pInputText>
    <label> Start Date</label>
    <p-calendar [(ngModel)]='intakeForm.startDate'></p-calendar>
    <label> End Date</label>
    <p-calendar [(ngModel)]='intakeForm.endDate'></p-calendar>
    <label (click)='update()'>Update</label>
    <!-- personnel object -->
    <div id='personnel'>
      <p class='title'>Personnel</p>
      <p-dataTable [value]="intakeForm.personnel" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'personnel')">
        <p-column field="name" header="Name"></p-column>
        <p-column field="employer" header="Employer"></p-column>
        <p-column field="positionTitleOnGrant" header="Position Title On Grant"></p-column>
        <p-column field="units" header="Units"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('personnel')" label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
    <p class='title'>PARTICIPATION SUPPORT</p>
    <label>Do you anticipate any participation stipends as part of your proposal?</label>
    <p-triStateCheckbox [(ngModel)]='intakeForm.anticipateStipend'></p-triStateCheckbox>
    <!-- if stipend is true -->
    <div id='anticipate-stipend-true' *ngIf='intakeForm.anticipateStipend'>
      <label>Please identify the type of Stipend:Study Participant, Student Tuition, Travel.. etc, and provide your Participation
        Stipend eligibility criteria and selection process below.</label>
      <input type="text" [(ngModel)]='intakeForm.stipends' pInputText>
      <label>Faculty Student Research/Creative Activities</label>
      <p-triStateCheckbox [(ngModel)]='intakeForm.facultyStudentResearchCreativeActivities'></p-triStateCheckbox>
      <label>Will this project actively involve students in Research</label>
      <p-triStateCheckbox [(ngModel)]='intakeForm.studentsInResearch'></p-triStateCheckbox>
      <!-- if rsca is true -->
      <div class='rsca-actvities' *ngIf='intakeForm.studentsInResearch'>
        <p>Please answer the following</p>
        <label> Number Of Undergrad Students</label>
        <input type="text" [(ngModel)]='intakeForm.noOfUnderGradStudents' pInputText>
        <label> Number Of Grad Students</label>
        <input type="text" [(ngModel)]='intakeForm.noOfGradStudents' pInputText>
        <p>What type of RSCA activities will be incorporated? (Check all that apply)</p>
        <label>Laboratory Assistance</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.vlaboratoryAssistance'></p-triStateCheckbox>
        <label>Data Collection</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.dataCollection'></p-triStateCheckbox>
        <label>Report Writing</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.reportWriting'></p-triStateCheckbox>
        <label>Literature Review</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.literatureReview'></p-triStateCheckbox>
        <label>Coding Or Data Entry</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.codingOrDataEntry'></p-triStateCheckbox>
        <label>Presentation</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.presentation'></p-triStateCheckbox>
        <label>Archival Research</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.archivalResearch'></p-triStateCheckbox>
        <label>Data Analysis</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.dataAnalysis'></p-triStateCheckbox>
        <label>Other Activities</label>
        <p-triStateCheckbox [(ngModel)]='intakeForm.otherActvities'></p-triStateCheckbox>
        <!-- otherActivitiesList:String[]; -->
      </div>
    </div>
  </div>
  <!-- second page -->
  <div *ngIf='index==1' id='participation'>
    <p class='title'>SUBGRANT(S) OR SUBCONTRACT(S)</p>
    <p-dataTable [value]="intakeForm.subGrantsOrSubContracts" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'subgrantsubcontract')">
      <p-column field="institutionName" header="Institution Name"></p-column>
      <p-column field="proposedFundingAmount" header="Proposed Funding Amount"></p-column>
      <p-column field="contactPerson" header="Contact Person"></p-column>
      <p-column field="contactInfo" header="Contact Info"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('subgrantsubcontract')"
            label="Add"></button>
        </div>
      </p-footer>
    </p-dataTable>
    <p class='title'>PROJECT LOCATIONS</p>
    <p-dataTable [value]="intakeForm.projectLocations" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'projectlocation')">
      <p-column field="siteName" header="Site Name"></p-column>
      <p-column field="siteAddress" header="Site Address"></p-column>
      <p-column field="projectedPercentOfTimeAtState" header="Projected Percent Of Time At State"></p-column>
      <p-column field="onCampusSpaceOrOnCampusRentalNeeded" header="On Campus Space Or On Campus Rental Needed"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('projectlocation')" label="Add"></button>
        </div>
      </p-footer>
    </p-dataTable>
    <p class='title'>ADDITIONAL PARTIES INVOLVED (e.g Prime Sponsor, Third Party, etc.) </p>

    <p-dataTable [value]="intakeForm.additionalInvolvedParties" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'additionalparty')">
      <p-column field="partyName" header="Party Name"></p-column>
      <p-column field="supervisor" header="Supervisor"></p-column>
      <p-column field="explanationOfInvolvement" header="Explanation Of Involvement"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('additionalparty')" label="Add"></button>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
  <!-- GHI -->
  <div *ngIf='index==2' id='compliances'>
    <p class='title'>BUDGET (if possible, bring a draft and budget justification to the first meeting with UAS Grants and Contracts)</p>
    <div id='budget'>
      <label> Agency F&A (Indirect) Cost Rate Percentage</label>
      <input type="text" pInputText [(ngModel)]='intakeForm.agencyCostRatePercentage'>
      <label>Is costsharing required by the agency?</label>
      <p-triStateCheckbox [(ngModel)]='intakeForm.agencyCostSharing'></p-triStateCheckbox>
      <label>Is costsharing requested by the PI?</label>
      <p-triStateCheckbox [(ngModel)]='intakeForm.piCostSharing'></p-triStateCheckbox>
      <label> Count of computers to be requested?</label>
      <input type="text" pInputText [(ngModel)]='intakeForm.computersRequested'>
      <label class='title'> Equipment to Be Requested?</label>
      <!-- requested equipment -->
      <p-dataTable [value]="intakeForm.requestedEquipment" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'requestedequipment')">
        <p-column field="name" header="Name"></p-column>
        <p-column field="approximateCost" header="Approximate Cost"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('requestedequipment')"
              label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
    <p class='title'>SPACE(Indicate if any space will be required as part of the proposed work/activity) </p>
    <p-dataTable [value]="intakeForm.spaces" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'space')">
      <p-column field="item" header="Item (personnel,equipment, storage,. etc)"></p-column>
      <p-column field="newSpace" header="New Space,change of use, renovation?"></p-column>
      <p-column field="sourceOfFunds" header="Source Of Funds"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('space')" label="Add"></button>
        </div>
      </p-footer>
    </p-dataTable>
    <p class='title'>HAZARDOUS SUBSTANCES (Consult with EHS to obtain proper clearance or confirmation of approval to work with hazardous
      agents)</p>
    <p-dataTable [value]="intakeForm.hazardousSubstances" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'hazard')">
      <p-column field="agent" header="Name Of Agent"></p-column>
      <p-column field="type" header="Type(biohazard, radiation, recombinant DNA..)"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('hazard')" label="Add"></button>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
  <!-- other -->
  <div *ngIf='index==3' id='other'>
    <p class='title'>OTHER COMPLIANCES</p>
    <label for='hs'>Human Subjects (If yes, consult with IRB Compliance Specialist [Elia Amaro, x3798])</label>
    <p-triStateCheckbox id='hs' [(ngModel)]='intakeForm.humanSubject'></p-triStateCheckbox>
    <label for='va'>Vertebrate Animals (If yes, consult with IACUC Compliance Specialist [Elia Amaro, x3798])</label>
    <p-triStateCheckbox id='va' [(ngModel)]='intakeForm.vertebrateAnimals'></p-triStateCheckbox>
    <!-- <label for='qf'> Questionare Field</label>
        <input id='qf' type="text" pInputText>
        <label for='ct'> Category Title</label>
        <input id='ct' type="text" pInputText> -->
    <p class='title'> OTHER SERVICES (indicate which of the following services you will need for this proposal)</p>
    <label for='awpd'>Assistance With Proposal Development (e.g,conceptualization, writing, editing)</label>
    <label>If yes, contact UAS Grants & Contracts and/or the Associate Vice President for Research at least one month in advance</label>
    <p-triStateCheckbox id='awpd' [(ngModel)]='intakeForm.assistanceWithProposalDevelopment'></p-triStateCheckbox>
    <label for='ta'>Technical Assistance</label>
    <p-triStateCheckbox id='ta' [(ngModel)]='intakeForm.technicalAssistance'></p-triStateCheckbox>
    <label for='losp'>Letter Of Support President</label>
    <p-triStateCheckbox id='losp' [(ngModel)]='intakeForm.letterOfSupportPresident'></p-triStateCheckbox>
    <label for='lospr'>Letter Of Support Provost</label>
    <p-triStateCheckbox id='lospr' [(ngModel)]='intakeForm.letterOfSupportProvost'></p-triStateCheckbox>
    <label for='losavpor'>Letter Of Support Associate VP Of Research</label>
    <p-triStateCheckbox id='losavpor' [(ngModel)]='intakeForm.letterOfSupportAssocVPOfResearch'></p-triStateCheckbox>
    <label for='dofdp'>Duplication Of Final Document Package</label>
    <p-triStateCheckbox id='dofdp' [(ngModel)]='intakeForm._duplicationfFinalDocumentPackage'></p-triStateCheckbox>
    <label for='noc'> Number Of Copies</label>
    <input id='noc' type="text" [(ngModel)]='intakeForm.noOfCopies' pInputText>
    <p class='title'>PROJECT SUMMARY Please provide a brief project summary, scope of work, or abstract, of your proposal</p>
    <input id='s' type="text" [(ngModel)]='intakeForm.summary' pInputText>
  </div>
  <app-form-footer [index]='index' [page-length]='breadCrumbStrings.length' (newIndex)='updateIndex($event)'></app-form-footer>
  <!-- dialog for crud stuff -->
  <p-dialog header="intakeInnerClass" [(visible)]="displayDialog" [responsive]="true" showEffect="fade">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='personnel'">
      <label>Name</label>
      <input pInputText [(ngModel)]="personnel.name" />
      <label>Employer</label>
      <input pInputText [(ngModel)]="personnel.employer" />
      <label>Position Title On Grant</label>
      <input pInputText [(ngModel)]="personnel.positionTitleOnGrant" />
      <label>Units</label>
      <input pInputText [(ngModel)]="personnel.units" />
    </div>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='subgrantsubcontract'">
      <label>Institution Name</label>
      <input pInputText [(ngModel)]="subgrantSubProject.institutionName" />
      <label>Proposed Funding Amount</label>
      <!--number-->
      <input pInputText [(ngModel)]="subgrantSubProject.proposedFundingAmount" />
      <label>Contact Person</label>
      <input pInputText [(ngModel)]="subgrantSubProject.contactPerson" />
      <label>Contact Info</label>
      <input pInputText [(ngModel)]="subgrantSubProject.contactInfo" />
    </div>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='projectlocation'">
      <label>Site Name</label>
      <input pInputText [(ngModel)]="projectLocation.siteName" />
      <label>Site Address</label>
      <input pInputText [(ngModel)]="projectLocation.siteAddress" />
      <label>Projected Percent Of Time At Site</label>
      <input pInputText [(ngModel)]="projectLocation.projectedPercentOfTimeAtState" />
      <label>Will an on campus space or rental agreement need to be arranged?</label>
      <p-triStateCheckbox [(ngModel)]='projectLocation.onCampusSpaceOrOnCampusRentalNeeded'></p-triStateCheckbox>
    </div>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='additionalparty'">
      <label>Party Name</label>
      <input pInputText [(ngModel)]="additionalParty.partyName" />
      <label>Supervisor</label>
      <input pInputText [(ngModel)]="additionalParty.supervisor" />
      <label>Explanation Of Involvement (Extent/Use, By who,...etc)</label>
      <input pInputText [(ngModel)]="additionalParty.explanationOfInvolvement" />
    </div>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='space'">
      <label>Item(personnel,equipment, storage ...etc)</label>
      <input pInputText [(ngModel)]="space.item" />
      <label>New Space, change of use or renovation?</label>
      <input pInputText [(ngModel)]="space.newSpace" />
      <label>Source of Funds</label>
      <input pInputText [(ngModel)]="space.sourceOfFunds" />
    </div>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='requestedequipment'">
      <label>Name</label>
      <input pInputText [(ngModel)]="requestedEquipment.name" />
      <label>Approximate Cost</label>
      <input pInputText [(ngModel)]="requestedEquipment.approximateCost" />
    </div>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='hazard'">
      <label>Name Of Agent</label>
      <input pInputText [(ngModel)]="hazard.agent" />
      <label>Type(biohazard,radiation, recombinant DNA)</label>
      <input pInputText [(ngModel)]="hazard.type" />
    </div>
    <p-footer>
      <div>
        <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
