<div id='container' class="">
    <div id='dash-bar'>
        <h3>UAS Grants and Contracts Intake Form</h3>
        <div [ngStyle]='setProgressBar(34)'></div>
        <!-- breadcrumbs -->
        <div id=''>
        </div>
    </div>
    <!-- first page A,B,C -->
    <div *ngIf='index==0' id='general-info'>
        <p class='title'>General Information</p>
        <label for='pi'>Principal Investigator</label>
        <input id='pi' type="text" [(ngModel)]='intakeForm._principalInvestigator' pInputText>
        <label for='college'>College</label>
        <input id='college' type="text" pInputText>
        <label for='pi'>Sponsor</label>
        <input id='pi' type="text" [(ngModel)]='intakeForm._sponsor' pInputText>
        <label for='pt'>Project Title</label>
        <input id='pt' type="text" [(ngModel)]='intakeForm._projectTitle' pInputText>
        <label for='pfa'> Proposed Funding Amount $</label>
        <input id='pfa' type="text" [(ngModel)]='intakeForm._proposedFundingAmount' pInputText>
        <label for='sd'> Start Date</label>
        <p-calendar id='sd' [(ngModel)]='intakeForm.startDate'></p-calendar>
        <label for='ed'> End Date</label>
        <p-calendar id='ed' [(ngModel)]='intakeForm._endDate'></p-calendar>
        <!-- personnel object -->
        <div id='personnel'>
            <p class='title'>Personnel</p>
            <p-dataTable [value]="intakeForm._personnel" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'personnel')">
                <p-column field="name" header="Name"></p-column>
                <p-column field="employer" header="Employer"></p-column>
                <p-column field="positionTitleOnGrant" header="Position Title On Grant"></p-column>
                <p-column field="units" header="Units"></p-column>
                <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('personnel')" label="Add"></button></div>
                </p-footer>
            </p-dataTable>
        </div>
        <p class='title'>PARTICIPATION SUPPORT</p>
        <label for='as'>Do you anticipate any participation stipends as part of your proposal?</label>
        <p-triStateCheckbox id='as' [(ngModel)]='intakeForm._anticipateStipend'></p-triStateCheckbox>
        <!-- if stipend is true -->
        <div id='anticipate-stipend-true' *ngIf='intakeForm._anticipateStipend'>
            <label for='stipends'>Please identify the type of Stipend:Study Participant, Student Tuition, Travel.. etc, and provide your Participation Stipend eligibility criteria and selection process below.</label>
            <input id='stipends' type="text" [(ngModel)]='intakeForm._stipends' pInputText>
            <label for='fsrca'>Faculty Student Research/Creative Activities</label>
            <p-triStateCheckbox id='fsrca' [(ngModel)]='intakeForm._facultyStudentResearchCreativeActivities'></p-triStateCheckbox>
            <label for='fsrca'>Will this project actively involve students in Research</label>
            <p-triStateCheckbox id='fsrca' [(ngModel)]='intakeForm._studentsInResearch'></p-triStateCheckbox>
            <!-- if rsca is true -->
            <div class='rsca-actvities' *ngIf='intakeForm._studentsInResearch'>
                <p>Please answer the following</p>
                <label for='nous'> Number Of Undergrad Students</label>
                <input id='nous' type="text" [(ngModel)]='intakeForm._noOfUnderGradStudents' pInputText>
                <label for='nogs'> Number Of Grad Students</label>
                <input id='nogs' type="text" [(ngModel)]='intakeForm._noOfGradStudents' pInputText>
                <p>What type of RSCA activities will be incorporated? (Check all that apply)</p>
                <label for='la'>Laboratory Assistance</label>
                <p-triStateCheckbox id='la' [(ngModel)]='intakeForm._vlaboratoryAssistance'></p-triStateCheckbox>
                <label for='dc'>Data Collection</label>
                <p-triStateCheckbox id='dc' [(ngModel)]='intakeForm._dataCollection'></p-triStateCheckbox>
                <label for='rw'>Report Writing</label>
                <p-triStateCheckbox id='rw' [(ngModel)]='intakeForm._reportWriting'></p-triStateCheckbox>
                <label for='lr'>Literature Review</label>
                <p-triStateCheckbox id='lr' [(ngModel)]='intakeForm._literatureReview'></p-triStateCheckbox>
                <label for='coda'>Coding Or Data Entry</label>
                <p-triStateCheckbox id='coda' [(ngModel)]='intakeForm._codingOrDataEntry'></p-triStateCheckbox>
                <label for='p'>Presentation</label>
                <p-triStateCheckbox id='p' [(ngModel)]='intakeForm._presentation'></p-triStateCheckbox>
                <label for='ar'>Archival Research</label>
                <p-triStateCheckbox id='ar' [(ngModel)]='intakeForm._archivalResearch'></p-triStateCheckbox>
                <label for='da'>Data Analysis</label>
                <p-triStateCheckbox id='da' [(ngModel)]='intakeForm._dataAnalysis'></p-triStateCheckbox>
                <label for='oa'>Other Activities</label>
                <p-triStateCheckbox id='oa' [(ngModel)]='intakeForm._otherActvities'></p-triStateCheckbox>
                <!-- otherActivitiesList:String[]; -->
            </div>
        </div>>    
        <div class='nav-arrow-bar title'>
            <img src='../../../assets/images/right-arrow.png' class='right-arrow' (click)='changeIndex("right")'>
        </div>
    </div>
    <!-- second page -->
    <div *ngIf='index==1' id='participation'>
        <p class='title'>SUBGRANT(S) OR SUBCONTRACT(S)</p>
        <p-dataTable [value]="intakeForm._subGrantsOrSubContracts" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'subgrantsubcontract')">
            <p-column field="institutionName" header="Institution Name"></p-column>
            <p-column field="proposedFundingAmount" header="Proposed Funding Amount"></p-column>
            <p-column field="contactPerson" header="Contact Person"></p-column>
            <p-column field="contactInfo" header="Contact Info"></p-column>
            <p-footer>
                <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('subgrantsubcontract')" label="Add"></button></div>
            </p-footer>
        </p-dataTable>
        <p class='title'>PROJECT LOCATIONS</p>
        <p-dataTable [value]="intakeForm?._projectLocations"  [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'projectlocation')">
            <p-column field="siteName" header="Site Name"></p-column>
            <p-column field="siteAddress" header="Site Address"></p-column>
            <p-column field="projectedPercentOfTimeAtState" header="Projected Percent Of Time At State"></p-column>
            <p-column field="onCampusSpaceOrOnCampusRentalNeeded" header="On Campus Space Or On Campus Rental Needed"></p-column>
            <p-footer>
                <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('projectlocation')" label="Add"></button></div>
            </p-footer>
        </p-dataTable>
        <p class='title'>ADDITIONAL PARTIES INVOLVED (e.g Prime Sponsor, Third Party, etc.) </p>

        <p-dataTable [value]="intakeForm?._additionalInvolvedParties" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'additionalparty')">
            <p-column field="partyName" header="Party Name"></p-column>
            <p-column field="supervisor" header="Supervisor"></p-column>
            <p-column field="explanationOfInvolvement" header="Explanation Of Involvement"></p-column>
            <p-footer>
                <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('additionalparty')" label="Add"></button></div>
            </p-footer>        
        </p-dataTable>
        <div class='nav-arrow-bar title'>
            <img src='../../../assets/images/left-arrow.png' class='left-arrow' (click)='changeIndex("left")'>
            <img src='../../../assets/images/right-arrow.png' class='right-arrow' (click)='changeIndex("right")'>
        </div>

    </div>
    <!-- GHI -->
    <div *ngIf='index==2' id='compliances'>
        <p class='title'>BUDGET (if possible, bring a draft and budget justification to the first meeting with UAS Grants and Contracts)</p>
        <div id='budget'>
            <label for='acrp'> Agency F&A (Indirect) Cost Rate Percentage</label>
            <input id='acrp' type="text" pInputText [(ngModel)]='intakeForm._agencyCostRatePercentage'>
            <label for='acs'>Is costsharing required by the agency?</label>
            <p-triStateCheckbox id='acs' [(ngModel)]='intakeForm._agencyCostSharing'></p-triStateCheckbox>
            <label for='pcs'>Is costsharing requested by the PI?</label>
            <p-triStateCheckbox id='pcs' [(ngModel)]='intakeForm._piCostSharing'></p-triStateCheckbox>
            <label for='cr'> Count of computers to be requested?</label>
            <input id='cr' type="text" pInputText [(ngModel)]='intakeForm._computersRequested'>
            <label class='title'> Equipment to Be Requested?</label>
            <!-- requested equipment -->
            <p-dataTable [value]="intakeForm?._requestedEquipment"  [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'requestedequipment')">
                <p-column field="name" header="Name"></p-column>
                <p-column field="approximateCost" header="Approximate Cost"></p-column>
                <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('requestedequipment')" label="Add"></button></div>
                </p-footer>   
            </p-dataTable>
        </div>
        <p class='title'>SPACE(Indicate if any space will be required as part of the proposed work/activity) </p>
        <p-dataTable [value]="intakeForm?._spaces" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'space')">
            <p-column field="item" header="Item (personnel,equipment, storage,. etc)"></p-column>
            <p-column field="newSpace" header="New Space,change of use, renovation?"></p-column>
            <p-column field="sourceOfFunds" header="Source Of Funds"></p-column>
            <p-footer>
                <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('space')" label="Add"></button></div>
            </p-footer>        
        </p-dataTable>
        <p class='title'>HAZARDOUS SUBSTANCES (Consult with EHS to obtain proper clearance or confirmation of approval to work with hazardous agents)</p>
        <p-dataTable [value]="intakeForm?._hazardousSubstances"  [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'hazard')">
            <p-column field="agent" header="Name Of Agent"></p-column>
            <p-column field="type" header="Type(biohazard, radiation, recombinant DNA..)"></p-column>
            <p-footer>
                <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('hazard')" label="Add"></button></div>
            </p-footer>          
        </p-dataTable>
        <div class='nav-arrow-bar title'>
            <img src='../../../assets/images/left-arrow.png' class='left-arrow' (click)='changeIndex("left")'>
            <img src='../../../assets/images/right-arrow.png' class='right-arrow' (click)='changeIndex("right")'>
        </div>
    </div>

    <div *ngIf='index==3' id='other'>
        <p class='title'>OTHER COMPLIANCES</p>
        <label for='hs'>Human Subjects (If yes, consult with IRB Compliance Specialist [Elia Amaro, x3798])</label>
        <p-triStateCheckbox id='hs' [(ngModel)]='intakeForm._humanSubject'></p-triStateCheckbox>
        <label for='va'>Vertebrate Animals (If yes, consult with IACUC Compliance Specialist [Elia Amaro, x3798])</label>
        <p-triStateCheckbox id='va' [(ngModel)]='intakeForm._vertebrateAnimals'></p-triStateCheckbox>
        <!-- <label for='qf'> Questionare Field</label>
        <input id='qf' type="text" pInputText>
        <label for='ct'> Category Title</label>
        <input id='ct' type="text" pInputText> -->
        <p class='title'> OTHER SERVICES (indicate which of the following services you will need for this proposal)</p>
        <label for='awpd'>Assistance With Proposal Development (e.g,conceptualization, writing, editing)</label>
        <label>If yes, contact UAS Grants & Contracts and/or the Associate Vice President for Research at least one month in advance</label>
        <p-triStateCheckbox id='awpd' [(ngModel)]='intakeForm._assistanceWithProposalDevelopment'></p-triStateCheckbox>
        <label for='ta'>Technical Assistance</label>
        <p-triStateCheckbox id='ta' [(ngModel)]='intakeForm._technicalAssistance'></p-triStateCheckbox>
        <label for='losp'>Letter Of Support President</label>
        <p-triStateCheckbox id='losp' [(ngModel)]='intakeForm._letterOfSupportPresident'></p-triStateCheckbox>
        <label for='lospr'>Letter Of Support Provost</label>
        <p-triStateCheckbox id='lospr' [(ngModel)]='intakeForm._letterOfSupportProvost'></p-triStateCheckbox>
        <label for='losavpor'>Letter Of Support Associate VP Of Research</label>
        <p-triStateCheckbox id='losavpor' [(ngModel)]='intakeForm._letterOfSupportAssocVPOfResearch'></p-triStateCheckbox>
        <label for='dofdp'>Duplication Of Final Document Package</label>
        <p-triStateCheckbox id='dofdp' [(ngModel)]='intakeForm.__duplicationfFinalDocumentPackage'></p-triStateCheckbox>
        <label for='noc'> Number Of Copies</label>
        <input id='noc' type="text" [(ngModel)]='intakeForm._noOfCopies' pInputText>
        <p class='title'>PROJECT SUMMARY Please provide a brief project summary, scope of work, or abstract, of your proposal</p>
        <input id='s' type="text" [(ngModel)]='intakeForm._summary' pInputText>
        <div class='nav-arrow-bar title'>
            <img src='../../../assets/images/left-arrow.png' class='left-arrow' (click)='changeIndex("left")'>
        </div>
    </div>
    <!-- dialog for crud stuff -->
    <p-dialog header="intakeInnerClass" [(visible)]="displayDialog" [responsive]="true" showEffect="fade">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='personnel'">
            <label for="name">Name</label>
            <input pInputText id="name" [(ngModel)]="personnel.name" />
            <label for="employer">Employer</label>
            <input pInputText id="employer" [(ngModel)]="personnel.employer" />
            <label for="ptog">Position Title On Grant</label>
            <input pInputText id="ptog" [(ngModel)]="personnel.positionTitleOnGrant" />
            <label for="units">Units</label>
            <input pInputText id="units" [(ngModel)]="personnel.units" />
        </div>       
         <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='subgrantsubcontract'">
            <label for="i-name">Institution Name</label>
            <input pInputText id="i-name" [(ngModel)]="subgrantSubProject.institutionName" />
            <label for="p-f-amount">Proposed Funding Amount</label><!--number-->
            <input pInputText id="p-f-amount" [(ngModel)]="subgrantSubProject.proposedFundingAmount" />
            <label for="contact-person">Contact Person</label>
            <input pInputText id="contact-person" [(ngModel)]="subgrantSubProject.contactPerson" />
            <label for="contact-info">Contact Info</label>
            <input pInputText id="units" [(ngModel)]="subgrantSubProject.contactInfo" />
        </div>
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='projectlocation'">
            <label for="s-name">Site Name</label>
            <input pInputText id="s-name" [(ngModel)]="projectLocation.siteName" />
            <label for="s-address">Site Address</label>
            <input pInputText id="s-address" [(ngModel)]="projectLocation.siteAddress" />
            <label for="ppotas">Projected Percent Of Time At Site</label>
            <input pInputText id="ppotas" [(ngModel)]="projectLocation.projectedPercentOfTimeAtState" />
            <label for="campus-space">Will an on campus space or rental agreement need to be arranged?</label>
            <p-triStateCheckbox id='campus-space' [(ngModel)]='projectLocation.onCampusSpaceOrOnCampusRentalNeeded'></p-triStateCheckbox>
        </div>
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='additionalparty'">
            <label for="s-name">Party Name</label>
            <input pInputText id="p-name" [(ngModel)]="additionalParty.partyName" />
            <label for="supervisor">Supervisor</label>
            <input pInputText id="supervisor" [(ngModel)]="additionalParty.supervisor" />
            <label for="involvement">Explanation Of Involvement (Extent/Use, By who,...etc)</label>
            <input pInputText id="involvement" [(ngModel)]="additionalParty.explanationOfInvolvement" />
        </div>
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='space'">
            <label for="s-name">Item(personnel,equipment, storage ...etc)</label>
            <input pInputText id="p-name" [(ngModel)]="space.item" />
            <label for="supervisor">New Space, change of use or renovation?</label>
            <input pInputText id="supervisor" [(ngModel)]="space.newSpace" />
            <label for="involvement">Source of Funds</label>
            <input pInputText id="involvement" [(ngModel)]="space.sourceOfFunds" />
        </div>
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='requestedequipment'">
            <label for="e-name">Name</label>
            <input pInputText id="e-name" [(ngModel)]="requestedEquipment.name" />
            <label for="a-cost">Approximate Cost</label>
            <input pInputText id="a-cost" [(ngModel)]="requestedEquipment.approximateCost" />
        </div>
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="intakeInnerClass=='hazard'">
            <label for="h-agent">Name Of Agent</label>
            <input pInputText id="h-agent" [(ngModel)]="hazard.agent" />
            <label for="h-type">Type(biohazard,radiation, recombinant DNA)</label>
            <input pInputText id="h-type" [(ngModel)]="hazard.type" />
        </div>        
        <p-footer>
            <div>
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>