:host {
    display: block;
    height: 100%;
    width: 80%;
    background-color: white;
    margin: 0 9.9%;
    padding: 1em;
  }
  #dash-bar {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom:1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .page-title {
    flex: 1;
}