:host {
    display: block;
    height: 100%;
    width: 100%;
}

#link-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#link-container>div {
    height: 80%;
    width: 20%;
}

#bottom {
    height: 70%;
    width: 100vw;
    background-color: rgb(254, 220, 89);
    bottom: 0;
}