<div id='link-container'>
  <div (click)='navigate("pipreaward")' class='main-window'>
    <p class='title'>Pre Award</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae repudiandae eius ad ea. Architecto, doloribus. Atque,
      placeat fuga illo sit non est </p>
  </div>
  <div class='main-window'>
    <p class='title'>Post Award</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae repudiandae eius ad ea. Architecto, doloribus. Atque,
      placeat fuga illo sit non est </p>

  </div>
  <div (click)='settingsClicked()' class='main-window'>
    <p class='title'>Settings</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae repudiandae eius ad ea. Architecto, doloribus. Atque,
      placeat fuga illo sit non est </p>

  </div>
  <div class='main-window'>
    <p class='title'>Help</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae repudiandae eius ad ea. Architecto, doloribus. Atque,
      placeat fuga illo sit non est </p>

  </div>
</div>
<!-- will be bound to the user in component -->
<div *ngIf='userInfoPrompt' id='form'>
  <p>My Information</p>
  <div *ngIf='firstTimeUser'>
    <label>User Name</label>
    <input type="text" pInputText [(ngModel)]='user.username' (keyup)='validateUsername()'>
    <label class='required-indicator'>username taken</label>
    <label class='optional-indicator'>username valid</label>
  </div>
  <label>First Name</label>
  <input type="text" pInputText [(ngModel)]='user.firstName'>
  <label>Last Name</label>
  <input type="text" pInputText [(ngModel)]='user.lastName'>
  <label>Phone Number</label>
  <input type="text" pInputText [(ngModel)]='user.phone'>
  <label>Contact Email</label>
  <input type="text" pInputText [(ngModel)]='user.email'>
  <!-- <label>Address</label>
  <input type="text" pInputText> -->
  <input  *ngIf='canSubmit()' type="submit" (click)='submit()'>

</div>
<div id='bottom'>
</div>
