:host {
  display: block;
  height: 100%;
  width: 80%;
  background-color: white;
  margin: 0 9.9%;
  padding: 1em;
}

#container {
  width: 100%;
}

#dash-bar {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
}
#home {
  flex: 1;
}

#link-container {
  height: 30%;
  width: 100%;
  padding-top:1em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

#link-container>div {
 color:white;
 background: linear-gradient(#52aed5, #4894c7);
 box-shadow: 5px 5px 12px #6c6c6c;
}
#link-container>div:hover {
  background-color: rgba(221, 221, 221, 0.795);
  border: 1px solid #2790b0;
  box-shadow: 0 0 20px rgb(241, 199, 45);
  font-size: 1em;
  position: relative;
  cursor: pointer;
}
.content{
    padding: 0 1em;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#bottom {
  height: 70%;
  width: 100vw;
  background-color: rgb(254, 220, 89);
  bottom: 0;
}
