<div class='container'>
    <p-menubar [model]='items'>
        <button pButton class='ui-button-warning' type='button' label='New Proposal'></button>
    </p-menubar>
</div>
<div class='container'>
    <p-dataList [value]="projects">
        <p-header>My Projects</p-header>
        <ng-template let-project pTemplate="item">
            <div class='projectRow'>
                <p class='projectdescription'><a href=''>{{project.name}}</a></p>
                <p class='projectdescription'> {{project.date}} </p>
                <p class='projectdescription'> {{project.status}} </p>
            </div>
        </ng-template>
    </p-dataList>
</div>