:host {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: gold;
    color: black;
}

p {
    margin: 0;
}