:host {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 18px;
}

#login {
    text-decoration: none;
    color: white;
}

#login:hover {
    background-color: gold;
    color: black;
}

p {
    margin: 0;
}