:host {
    width: 100vw;
    height: 1.5em;
    padding:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#0e0e0e, #4c4c4c);
    color: white;
    font-size: 18px;
}

label {
    color: white;
    height: 1.5em;
    padding:5px;    

}

label:hover {
    background-color: gold;
    color: black;
    height: 1.5em;
    padding:5px;
    cursor:pointer;
}

p {
    margin: 0;
}