:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}
/* put this in styles css resolve conflict */

h3 {
    margin-top: 0;
    padding-top: 10px;
}