:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}
/* put this in styles css resolve conflict */
.title {
    width: 100%;
    background-color: #fff3b5;
    border: 2px solid #ffd400;
}

h3 {
    margin-top: 0;
    padding-top: 10px;
}