<h3>Timeline</h3>
<ul id='timeline-bar' class='form-flex-start'>
  <li *ngFor='let stage of timeline.stages; index as i'>
    <!-- bar -->
    <div class='bar' *ngIf='i!=0'></div>
    <div class='icon-name-container' (click)='setCurrentStageId(stage.Id)'>
      <!-- icon -->
      <div class='icon'></div>
      <!-- name -->
      <label class='name'>{{stage.name}}</label>
    </div>

  </li>
</ul>
<p-dialog header="Stage" [(visible)]="displayDialog" [responsive]="true" showEffect="fade">
  <!-- show a stage -->
  <div class='form-flex-start' *ngIf='dialogType=="view"'>
    <label>Name {{stage.name}}</label>
    <label>Expected Date {{stage.expectedDate}}</label>
    <label>Completed Date {{stage.completedDate}}</label>
    <label>Required Forms</label>
    <div>
      <ul>
        <li *ngFor='let form of stage.requiredForms'>
          <span>{{form}}</span>
          <span> | check or x image to show completion</span>
        </li>
      </ul>
    </div>
    <label>Required Files</label>
    <div>
      <ul>
      </ul>
    </div>
    <label>Additional Notes</label>
    <p>{{stage.additionalNotes}}</p>

    <button class='blue-button' (click)='setDialogType("edit")'>Edit</button>
  </div>
  <!-- edit a stage -->
  <div class='form-flex-start window' *ngIf='dialogType=="edit"'>
    <label>Name</label>
    <input>
    <label>Expected Date</label>
    <p-calendar></p-calendar>
    <label>Completed Date</label>
    <p-calendar></p-calendar>
    <label>UAS Review Required</label>
    <input type='checkbox'>
    <label>UAS Approved</label>
    <input type='checkbox'>
    <label>Required Forms</label>
    <div class='form-flex-start'>
      <ul>
        <li *ngFor='let form of stage.requiredForms'><label>{{form}}</label> <span><button>Remove</button></span> </li>
      </ul>
      <select>
        <option *ngFor='let form of unSelectedForms'>{{form}}</option>
      </select>
      <button> Add Form</button>
    </div>
    <label>Required Files</label>
    <div></div>
    <label>Additional Notes</label>
    <textarea pInputTextarea [(ngModel)]="stage.additionalNotes" autoResize="autoResize"></textarea>
  </div>
</p-dialog>
