:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}
.dash-bar {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom:1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.page-title {
    flex: 1;
}
 .timeline-info > label {
  font-weight: bold;
}
#timeline-bar {
  height: 100%;
  width: 30%;
  float: left;
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
  width: 100%;
}

.bar {
  height: 30px;
  border-left: 3px solid #9e9e9e;
  margin-left: 8px;
}
.barCompleted {
  border-left: 3px solid rgb(91, 188, 220);
}
.bar-drag-over{
  height: 40px;
  border-left: 5px solid rgb(241, 199, 45);
}
.icon-name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.icon-name-container:hover .name{
  color:#2790b0;

}
.icon-name-container:hover .icon{
  box-shadow: 0 0 20px rgb(241, 199, 45);
  border:2px solid rgb(241, 199, 45);
}
.selected-icon{
  box-shadow: 0 0 20px rgb(241, 199, 45);
  border:2px solid rgb(241, 199, 45) !important;
}
.icon {
  height: 16px;
  width: 16px;
  border: 2px solid #9e9e9e;
  border-radius: 50%;
}
.iconCompleted {
  background-color: rgb(91, 188, 220);
  border:2px solid rgb(91, 188, 220);
  background-image: url('../../../../assets/images/check-symbol.png')
}
.name {
  padding-left: 3px;
  font-weight:bold;
  color:#9e9e9e;
}


#stage-content {
  height: 100%;
  /* overflow-x:hidden; */
}
.stage-general-info {
  display:grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: .5em;
}
.drag-icon {
  float:left
}
.button-footers, .edit {
  align-self: flex-end;
}