<h3>Timeline</h3>
<button (click)='handleAddStage()'>Add Stage</button>
<ul id='timeline-bar' class='form-flex-start'>
  <li *ngFor='let stage of timeline.stages; index as i'>
    <!-- bar -->
    <div class='bar' *ngIf='i!=0' (drop)='drop({"event":$event,"index":i})' (dragover) = 'allowDrop($event)'></div>
    <div class='icon-name-container' (click)='setCurrentStageId(stage.Id)'>
      <!-- icon -->
      <div class='icon'></div>
      <!-- name -->
      <label class='name'>{{stage.name}}</label>
    </div>

  </li>
</ul>
<div id='stage-content' *ngIf = "displayDialog" >
  <!-- show a stage -->
  <div class='form-flex-start' *ngIf='dialogType=="view"'>
    <label>Name {{stage.name}}</label>
    <label>Expected Date {{stage.expectedDate}}</label>
    <label>Completed Date {{stage.completedDate}}</label>
    <label>Required Forms</label>
    <div>
      <ul>
        <li *ngFor='let form of stage.requiredForms'>
          <span>{{form}}</span>
          <span> | check or x image to show completion</span>
        </li>
      </ul>
    </div>
    <label>Required Files</label>
    <div>
      <ul>
        <li *ngFor='let file of stage.requiredFiles'>
          <span>{{file}}</span>
          <span>
            <input type='file' label='Upload'>
          </span>
          <!-- make request here-->
          <span>{{file}}</span>
        </li>
      </ul>
    </div>
    <label>Additional Notes</label>
    <p>{{stage.additionalNotes}}</p>

    <button class='blue-button' (click)='setDialogType("edit")'>Edit</button>
  </div>
  <!-- edit a stage -->
  <div class='form-flex-start window' *ngIf='dialogType=="edit"'>
    <label>Name</label>
    <input type='text' [(ngModel)]='stage.name'>
    <label>Expected Date</label>
    <p-calendar></p-calendar>
    <label>Completed Date</label>
    <p-calendar></p-calendar>
    <label>UAS Review Required</label>
    <input type='checkbox'>
    <label>UAS Approved</label>
    <input type='checkbox'>
    <h4>Required Forms</h4>
    <div class='form-flex-start'> <!-- make into table -->
      <ul>
        <li *ngFor='let form of stage.requiredForms'>
          <label>{{form}}</label>
          <span>
            <button (click) = 'handleRemoveForm(form)'>Remove</button>
          </span>
        </li>
      </ul>
      <select #form>
        <option *ngFor='let form of unSelectedForms'>{{form}}</option>
      </select>
      <button (click)='handleAddForm(form.value)'> Add Form</button>
    </div>
    <h4>Required Files</h4>
    <div> <!-- make into table -->
      <ul>
        <li *ngFor='let file of stage.requiredFiles'>
          <span>{{file}}</span>
          <span>
            <input type='file' label='Upload'>
          </span>
          <!-- make request here-->
          <span>{{file}}</span>
          <span>
            <button (click) = 'handleRemoveFile(file)' >Remove</button>
          </span>
        </li>
        <li>
          <span>
            <input type='text' #addReqFile>
            <button (click)='handleAddFile(addReqFile.value)'>Add File</button>
          </span>
        </li>
      </ul>
    </div>
    <h4>Additional Notes</h4>
    <textarea pInputTextarea [(ngModel)]="stage.additionalNotes" autoResize="autoResize"></textarea>
    <h4>Order in Timeline</h4>
    <label draggable = 'true'>Drag me to reorder</label>
    <button (click) = 'saveStage()'> Save </button> 
    <button> Delete</button>
  </div>
</div>
