<div id='container'>
  <!-- dash bar -->
  <h3>Statement of Economic Interest for Principal Investigator</h3>
  <button type="button" pButton (click)="update()" label="Update"></button>
  <app-bread-crumb [index]='index' [pages]='breadCrumbStrings'></app-bread-crumb>
  <!-- page 1 Instructions for Completing Form 700-U -->
  <div *ngIf='index==0' class='form-flex-start'>
    <p class='form-title'>Who Files Form 700-U?</p>
    <p>This form must be filed by all persons employed by US or CSU who have principal responsibility for a research project
      if the project is to be funded or supported, in whole or in part, by contract or grant (or othrt fundd earmarked by
      the donor for a specific research project or for a specific researcher) from a nongovernmental entity.
      <br>
      <br>Reporting requirements are outlined in Regulation 18755. This regulation provides that research funding by certain
      nonprofit entities will not trigger disclosure. This regulation is available on the FPPC website.</p>
    <p class='form-title'>What is the Reporting Period?</p>
    <p>For "intial" statements, before the final acceptance of the contract, grant, or gift the filer must report investments
      in and business positions with the sponsor as of the date that the award is made, and income and gifts received from
      sponsor within the 12 months prior to the data that the award is made.
      <br>
      <br>For "interium" statements, the filer must submit a statement within 30 days after the contract, grant, or gift is renewed
      the discloses reportable investments, income and business positions that the filer held or receivedd during the business
      positions that the filer held or received during the period between the date initial statenebt was filed and the date
      the project contract, grant, or gift was renewed.</p>
    <p class='form-title'>What is an Investment?</p>
    <p>"Investment" means any financial interest in a business entity in which you, yout spouse or registered domestic partner,
      or your dependent children have a direct, indirect, or beneficial interest totaling $2,000 or more. Reportable investments
      include stocks, bonds, warrants, and options, including those held in margin or brokerage accounts. (See Gov. Code
      section 82034 and Regulation 18237.)</p>
    <p class='form-title'>What is Income?</p>
    <p>"Income" means a payment received, including but not limited to any salary, wage, advance, dividend, interest, rent,
      proceeds from any sale, gift, including any gift of food pr beverage, loan forgiveness or payment of indebtedness received
      by the filer, reimbursement for expenses, per diem, or contribution to an insurance or pension program paid by any
      person other than an employer, and any community property interest in income of a spouse o registered domestic partner.
      Income also includes a pro rata share of any income of any business entity or trust in which the individual, spouse,
      or registered domestic partner owns directly, indirectly, or beneficially, a 10% interest or greater. Income includes
      your gross income and your community property interest in your spouse's or registered domestic partner's gross income
      totaling $500 or more. Gross income is the total amount of income before deducting expenses, losses, or taxes. (See
      Gov. Code Section 82030.)</p>
    <p class='form-title'>What is a Loan?</p>
    <p>Loans received or outstanding are reportable if they total $500 or more from a single lender. Your community property
      interest in loans received by your spouse or registered domestic partner also must be reported. Loans from commercial
      lending institutions made in the lender's regular course of business on terms available to members of the public without
      regard to your official status are not reportable. (See Gov. Code Secios 82030(a).)</p>
    <p class='form-title'>What is a Gift?</p>
    <p>A gift is anything of value for which you have not provided equal or greater consideration to the donor. A gift is reportable
      if its fair market value is $50 or more. In addition, multiple gifts totaling $50 or more received from a reportable
      source must ve reported.
      <br>
      <br>It is the acceptance of a gift, not the uktunare use to which it is put, that imposes your reporting obligation. Therefore
      you must report a gift even if you never used it otif you gave it away to another person.
      <br>
      <br>If the exact amount of a gift is not known, you must make a good faith estimate of the item's fair market value. Listing
      that value of a gift as "over $50" or "value unknown" is not adequate disclosure.</p>
    <p class='form-title'>Commonly reportable gifts include:</p>
    <ul>
      <li>Tickets/passes to sporting or entertainment events</li>
      <li>Tickets/passes to amusement parks</li>
      <li>Parking passes</li>
      <li>Food, beverages, and accommodations, including those provided in direct connection with your attendance at a convention,
        conference, meeting, social event, meal, or like gathering</li>
      <li>Rebates/discounts not made in the regular course of business to members of the public without regard to official status</li>
      <li>Wedding gifts</li>
      <li>An honorarium received prior to filing an "intial" statement. You may report an honorarium as income rather that as
        a gidt if you provided services of equal or greater value than the payment received.</li>
      <li>Transportation and lodging</li>
      <li>Forgiveness of a loan received by you</li>
    </ul>
    <p>(See Gov. Code Section 82028.)</p>
    <p class='form-title'>What's New?</p>
    <p>If an individual receives a travel payment for travel occuring on or after January 1, 2016, which is reportable as a
      gift, he or she must disclose the travek destination.</p>
    <p class='form-title'>What is a Travel Payment?</p>
    <p>Travel payments include advances and reimbursements for travel and related expenses, including lodging and meals.</p>
    <ul>
      <li>Travel payments are
        <b>gifts </b> if you did not provide services which were equal to or greater in value than the payments received. You
        must disclose gifts totaling $50 or more from a single source during the period covered by the statement. Gifts of
        travel are reportable without regard to where the donor is located.
        <br>
        <br>When reporting travel payments which are gifts, you must provide a description of the gift and the date(s) received.
        In addition, the travel destination must be disclosed for travel taken on or after January 1, 2016.</li>
      <li>Travel payments are
        <b>income</b> if you provided services which were equal to or greater in value than the payments received. You must
        disclose income totaling $500 or more from a single source during the period covered by the statement. The filer
        has the burden of proving the payments are income rather than gifts
        <br>
        <br>When reporting travel payments as income, you must describe the services you provided in exchange for the payment.
        You are not required to disclose the date(s) for travel payments which are income.</li>
    </ul>
    <p>Gifts of travel may be subject to a $470 gift limit. In addition, certain travel payments are reportable gifts, but are
      not subject to the limit. See the FPPC fact sheet entitled "Limitations and Restrictions on Gifts, Honoraria, Travel,
      and Loans," which can be obtained from the FPPC at
      <i>www.fppc.ca.gov.</i>
      <br>
      <br>You are
      <u>not</u> required to disclose:</p>
    <ul>
      <li>Travel payments received from any state, local, or federal government agency for which you provided services equal
        or greater in value than the payment received, such as reimbursement for travel on agency business from your government
        agency employer.</li>
      <li>Travel payments received from your employer in the normal course of your employment.</li>
      <li>A travel payment that was received from a non-profit entity exempt from taxation under Internal Revenue Service Code
        Section 501(c)(3) for which you provided equal or greater consideration, such as reimbursement for travel on business
        for 501(c)(3) organization for which you are a board member.</li>
    </ul>
    <p>Check the box to indicate if the payment was a gift or income, report the amount, and disclose the date(s) if applicable.</p>
    <p class='form-title'>Violations</p>
    <p>Failure to file the required Statement of Economic Interests or failure to report a financial interest may subject a
      principal investigator to civil liability, including fines, as well as University discipline. (See Gov. Code Sections
      81000-91014)
    </p>
    <p class='form-title'>Privacy Information Notice</p>
    <p>Information requested on all FPPC forms is used by the FPPC to administer and enforce the Political Reform Act (Gov.
      Code Sections 81000-91014 and Regulations 18110-18997). All information required by these forms is mandated by the
      Political Reform Act. Failure to provide all of the information required by the Act is a violation subject to administrative,
      criminal or civil prosecution. All reports and statements provided are public records open for public inspection and
      reproduction.
      <br>
      <br>If you have any quetions regarding this Privacy Notice or how to access your personal information, please contract
      the FPPC at:
      <br>
      <br>General Counsel
      <br>Fair Political Practices Commission
      <br>428 J, Street, Suite 620
      <br>Sacramento, CA 95814
      <br>(916) 322-5660</p>
  </div>
  <!-- page 2 General Information -->
  <div *ngIf='index==1' class='form-flex-start'>
    <p class='form-title'>General Information</p>
    <label>Campus</label>
    <input type='text' [(ngModel)]='economicInterestPI.campus' pInputText>
    <label>Last Name</label>
    <input type='text' [(ngModel)]='economicInterestPI.lastName' pInputText>
    <label>First Name</label>
    <input type='text' [(ngModel)]='economicInterestPI.firstName' pInputText>
    <label>Middle Name</label>
    <input type='text' [(ngModel)]='economicInterestPI.middleInitial' pInputText>
    <label>Telephone Number</label>
    <input type='text' [(ngModel)]='economicInterestPI.phoneNumber' pInputText>
    <label>Academic Unit or Department</label>
    <input type='text' [(ngModel)]='economicInterestPI.department' pInputText>
    <label>Mail Code</label>
    <input type='text' [(ngModel)]='economicInterestPI.mailCode' pInputText>
    <label>Email Address</label>
    <input type='text' [(ngModel)]='economicInterestPI.email' pInputText>
    <label>Title of Research Project</label>
    <input type='text' [(ngModel)]='economicInterestPI.projectTitle' pInputText>
  </div>
  <!-- page 3 Funding Entity and Type of Statement -->
  <div *ngIf='index==2' class='form-flex-start'>
    <p class='form-title'>Information Regarding Funding Entity</p>
    <p>(Use a separate Form 700-U for each funding entity.)</p>
    <label>Name of Entity:</label>
    <input type='text' [(ngModel)]='economicInterestPI.entityName' pInputText>
    <label>Address of Entity:</label>
    <input type='text' [(ngModel)]='economicInterestPI.entityAddress' pInputText>
    <label>Principal Business of Entity:</label>
    <input type='text' [(ngModel)]='economicInterestPI.principalBusiness' pInputText>
    <label>Amount of Funding: $</label>
    <input type='number' [(ngModel)]='economicInterestPI.fundingAmount' pInputText>
    <p-checkbox label='Estimated' binary='true' [(ngModel)]='economicInterestPI.estimateAmount'></p-checkbox>
    <p-checkbox label='Actual' binary='true' [(ngModel)]='economicInterestPI.actualAmount'></p-checkbox>
    <!-- 2 -->
    <p class='form-title'>Type of Statement (Check at least one box)</p>
    <p-checkbox label='Initial (for new funding)' binary='true' [(ngModel)]='economicInterestPI.initialFunding'></p-checkbox>
    <div *ngIf='economicInterestPI.initialFunding' class='form-flex-start indent'>
    <label>Date of initial funding:</label>
    <p-calendar [(ngModel)]='economicInterestPI.fundDate'></p-calendar>
    </div>
    <p-checkbox label='Interim (for renewed funding)' binary='true' [(ngModel)]='economicInterestPI.interimFund'></p-checkbox>
    <div *ngIf='economicInterestPI.interimFund' class='form-flex-start indent'>
    <label>Funding was renewed on:</label>
    <p-calendar [(ngModel)]='economicInterestPI.interimDate'></p-calendar>
    </div>
  </div>
  <!-- page 4 Filer Information -->
  <div *ngIf='index==3' class='form-flex-start'>
    <p class='form-title'>Filer Information</p>
    <p><strong>A.</strong> Are you a director, officer, partner, trustee, consultant, employee, or do you hold a position of management in the entity
      listed in Part 1?</p>
    <p-toggleButton [(ngModel)]="economicInterestPI.positionHeld"></p-toggleButton>
    <div *ngIf='economicInterestPI.positionHeld' class='form-flex-start indent'>  
      <label>Title:</label>
      <input type='text' [(ngModel)]='economicInterestPI.positionTitle' pInputText>
    </div>
    <p><strong>B.</strong>Do you, your spouse or registered domestic partner, or your dependent children have an investment of $2,000 or more in
      the entity listed in Part 1 above?</p>
      <p-toggleButton [(ngModel)]="economicInterestPI.investmentGreaterThan"></p-toggleButton>
      <div class='amount-list' *ngIf='economicInterestPI.investmentGreaterThan' class='form-flex-start indent'>
      <label>Amount $</label>
      <input type='number' [(ngModel)]='economicInterestPI.investAmount' pInputText>
      <label>Date Disposed: (if applicable)</label>
      <p-calendar [(ngModel)]='economicInterestPI.dateDisposed'></p-calendar>
    </div>
    <p><strong>C.</strong>Have you received income of $500 or more from the entity listed in Part 1 during the reporting period?</p>
    <p-toggleButton [(ngModel)]="economicInterestPI.receivedIncome"></p-toggleButton>
    <div class='amount-list' *ngIf='economicInterestPI.receivedIncome' class='form-flex-start indent'>
      <label>Amount $</label>
      <input type='number' [(ngModel)]='economicInterestPI.receivedAmount' pInputText>
      <p>Was this income received through you spouse or registered domestic partner?</p>
      <p-toggleButton [(ngModel)]="economicInterestPI.receivedThroughSpouse"></p-toggleButton>
    </div>
    
    <p><strong>D.</strong>Have you received loans from the entity in Part 1 for which the balance exceeded $500 during the reporting period?</p>
    <p-toggleButton [(ngModel)]="economicInterestPI.receivedThroughEntity"></p-toggleButton>
    <div class='loan-information' *ngIf='economicInterestPI.receivedThroughEntity' class='form-flex-start indent'>
      <label>Loan Amount $</label>
      <input type='number' [(ngModel)]='economicInterestPI.loanAmount' pInputText>
      <p>Was the loan: Secured</p>
      <p-toggleButton [(ngModel)]="economicInterestPI.loanSecured"></p-toggleButton>
      <label>Interest rate: %</label>
      <input type='number' [(ngModel)]='economicInterestPI.loanInterest' pInputText>
      <p>Was the loan entirely repaid within the last 12 months?</p>
      <p-toggleButton [(ngModel)]="economicInterestPI.loanPaidOff"></p-toggleButton>
    </div>
    <p><strong>E.</strong>Have you received gifts from the entity listed in Part 1 within the last 12 months valued at $50 or more?</p>
    <p-toggleButton [(ngModel)]="economicInterestPI.giftsReceived"></p-toggleButton>
    <div class='gift-received' *ngIf='economicInterestPI.giftsReceived' class='form-flex-start indent'>
      <label>Description:</label>
      <textarea pInputTextarea [(ngModel)]='economicInterestPI.giftsDescription' autoResize="autoResize"></textarea>
      <label>Value: $</label>
      <input type="number" [(ngModel)]='economicInterestPI.giftsValue' pInputText>
      <label>Date Received:</label>
      <p-calendar [(ngModel)]='economicInterestPI.giftsReceivedDate'></p-calendar>
    </div>
    <p><strong>F.</strong>Has the entity in Part 1 paid for your travel during the reporting period?</p>
    <p-toggleButton [(ngModel)]="economicInterestPI.travelThroughEntity"></p-toggleButton>
    <div class='travel-enetity' *ngIf='economicInterestPI.travelThroughEntity' class='form-flex-start indent'>
      <p>Type of Payment: (check one)</p>
      <div>
        <label>Gift</label>
        <p-checkbox binary='true' [(ngModel)]='economicInterestPI.travelPaymentTypeGift'></p-checkbox>
        <label>Income</label>
        <p-checkbox binary='true' [(ngModel)]='economicInterestPI.atravelPaymentTypeIncome'></p-checkbox>
      </div>
      <label>Amount: $</label>
      <input type="number" [(ngModel)]='economicInterestPI.travelAmount' pInputText>
      <label>dates (if applicable)</label>
      <p-calendar [(ngModel)]='economicInterestPI.travelStartDate'></p-calendar>
      <p-calendar [(ngModel)]='economicInterestPI.travelEndDate'></p-calendar>
      <label>Description</label>
      <textarea pInputTextarea [(ngModel)]='economicInterestPI.travelDescription' autoResize="autoResize"></textarea>
    </div>
  </div>
  <!-- page 5 Verification -->
  <div *ngIf='index==4' class='form-flex-start'>
    <p class='form-title'>Verification</p>
    <p>I have used all reasonable diligence in preparing this statement. I have reviewed this statement and to the best of my
      knowledge the information contained herein and in any attached schedules is true and complete. I certifu under plenalty
      or perjury under the laws of the State of California that the foregoing is true and correct.</p>
    <label>Date Signed (month, day, year)</label>
    <input type="text" [(ngModel)]='economicInterestPI.dateSigned' pInputText>
    <label>Signature (File the originally signed statement with your university)</label>
    <input type="text" [(ngModel)]='economicInterestPI.signature' pInputText>
  </div>
  <!-- footer -->
  <app-form-footer [index]='index' [length]='breadCrumbStrings.length' (newIndex)='updateIndex($event)'></app-form-footer>

</div>
