<div id='container' class="ui-inputgroup">
    <label for='pi'>
        Principal Investigator
    </label>
    <input id='pi' type="text" pInputText>
    <!-- department make into dropdown -->
    <label for='pt'>Project Title</label>
    <input id='pt' type="text" pInputText>
    <label for='pfa'> Proposed Funding Amount
    </label>
    <input id='pfa' type="text" pInputText>

    <!-- start date is date and value aside -->
    <!-- end date is date and value aside -->
    <!-- going to have multiple text inputs in row -->

    <p-inputSwitch [(ngModel)]="intakeForm.anticipateStipend" onLabel="Yes" offLabel="No"></p-inputSwitch>
    <label for='stip'>If Yes please identify type of stipend    
    </label>
    <input id='stip' type='text' pInputText>

    <label for='fsrca'>Faculty Student Research/Creative Activities
            <p-inputSwitch id='fsrca' [(ngModel)]="intakeForm.facultyStudentResearchCreativeActivities" onLabel="Yes" offLabel="No"></p-inputSwitch>    
            
    </label>





</div>