<div id='name'>
  <img id='logo' class='animated slideInLeft' src='../../../assets/images/logo-black-transparent.png' />
  <h1> Cal State LA University Auxiliary Services Grants & Contracts</h1>
</div>
<div class='imageContainer'></div>
<div id='contentContainer'>
  <h2 class='home-title'> Funding</h2>
  <img class='content-image' src='../../../assets/images/piggy-bank.png' />
  <p class='information'>
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>

  <h2 class='home-title'>Monitor Your Proposal</h2>  
  <img class='content-image' src='../../../assets/images/timeline.png' />
  <p class='information'>
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <h2 class='home-title'> Forms </h2>
  <img class='content-image' src='../../../assets/images/contract.png' />
  <p class='information'>
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>
