:host {
    width: 100vw;
    height: 100%;
}
#name{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
/* background-color: rgb(241, 199, 45); */
}

#logo {
    height: 10vh;
}

.imageContainer {
    /* background-image:url('../../../assets/images/eaglestatue2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40% */
    border-bottom: 35px solid gold;
    background-image:url('../../../assets/images/eaglestatue2.jpg');
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40%;
}

#contentContainer {
    position: relative;
    /* width: 100vw; */
    height:70vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:1.5em;
    line-height: 1.8;
}
.home-title{
    color: #0eb2e2;
}
.information{
    padding: 0 1em;
    font-size: 1em;
    color: rgb(161, 159, 159);
}
.content-image{
    align-self:center;
}
