:host {
  width: 100vw;
  height: 100%;
}

#name {
  color: white;
  margin: auto;
  padding: 15% 10%;
}

#contentContainer {
  position: relative;
  min-height: 70vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.8;
}

#content-1,
#content-3 {
  background-color: white;
}

#content-2 {
  color: white;
}

.home-title {
  text-align: center;
}

.information {
  padding: 0 1em;
  font-size: 1em;
}
@media (orientation:landscape){
  .imageContainer {
    background-image: url('../../../assets/images/eaglestatue1.jpg');
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
  }
  .content-image {
    float:left;
    padding: 1em;
  
  }
}

@media (orientation: portrait) {
#content-1, #content-2, #content-3 {
  display:flex;
  flex-direction: column;
  align-items: center;
}
}
