<div id='container'>
  <div id='dash-bar'>
    <h3>UAS Grants and Contracts New Equipment Approval Form</h3>
    <button type="button" pButton (click)="update()" label="Update"></button>
    <app-bread-crumb [index]='index' [pages]='breadCrumbStrings'></app-bread-crumb>
  </div>
  <div class='pages'>
    <!-- page 1 General Information -->
    <div *ngIf='index==0' class='form-flex-start'>
      <p class='form-title'>General Information</p>
      <label>Faculty Name</label>
      <input type="text" [(ngModel)]='equipmentForm.facultyName' pInputText>
      <label>Department</label>
      <input type="text" [(ngModel)]='equipmentForm.department' pInputText>
      <label>Grant-Agency</label>
      <input type="text" [(ngModel)]='equipmentForm.grantAgency' pInputText>
      <label>Proposal Title</label>
      <input type="text" [(ngModel)]='equipmentForm.proposalTitle' pInputText>
      <p-checkbox label='Extension' binary='true' [(ngModel)]='equipmentForm.extension'></p-checkbox>
      <div class='form-flex-start indent' *ngIf='equipmentForm.extension'>
        <label>Extension Amount</label>
        <input type="text" [(ngModel)]='equipmentForm.extensionValue' pInputText>
      </div>
      <p-checkbox label='Cost Share' binary='true' [(ngModel)]='equipmentForm.costShare'></p-checkbox>
      <p-checkbox label='Donation' binary='true' [(ngModel)]='equipmentForm.donation'></p-checkbox>
      <p-checkbox label='New Equipment' binary='true' [(ngModel)]='equipmentForm.newEquipment'></p-checkbox>

    </div>
    <!-- page 2 Equipment -->
    <div *ngIf='index==1' class='form-flex-start'>
      <!-- table -->
      <p-dataTable [value]="equipmentForm.typeOfEquipment" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'typeOfEquipment')">
        <p-header>Type of Equipment</p-header>
        <p-column field='name' header='Name'>
        </p-column>
        <p-column field='specification' header='Specification'>
        </p-column>
        <p-column field='url' header='URL'>
        </p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('typeOfEquipment')" label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>
      <p class='form-title'>Type Of Equipment (List each equipment item and attach specifications/quote nad url/website if available)</p>
      <label>Building</label>
      <input type="text" [(ngModel)]='equipmentForm.buildingLocation' pInputText>
      <label>Room</label>
      <input type="text" [(ngModel)]='equipmentForm.roomLocation' pInputText>
      <label>Company Donating</label>
      <input type="text" [(ngModel)]='equipmentForm.companyDonating' pInputText>
      <label>Previous Use</label>
      <input type="text" [(ngModel)]='equipmentForm.previousUse' pInputText>

      <p-checkbox label='Size Of Equipment' binary='true' [(ngModel)]='equipmentForm.sizeOfEquipment'></p-checkbox>
      <div @slideHorizontal *ngIf='equipmentForm.sizeOfEquipment' class='form-flex-start indent'>
        <label>Height ft</label>
        <input type="text" [(ngModel)]='equipmentForm.height' pInputText>
        <label>Width ft</label>
        <input type="text" [(ngModel)]='equipmentForm.width' pInputText>
        <label>Length ft</label>
        <input type="text" [(ngModel)]='equipmentForm.length' pInputText>
      </div>
    </div>
    <!-- page 3 check all that apply  -->
    <div *ngIf='index==2' class='form-flex-start'>
      <p class='form-title'>Please Check all that apply</p>
      <p-checkbox label='Space Modification Requirement (e.g Removal of walls or bench)' binary='true' [(ngModel)]='equipmentForm.spaceModificationRequirement'></p-checkbox>
      <!--  electrical changes-->
      <p-checkbox label='Electrical Modification(s)' binary='true' [(ngModel)]='equipmentForm.electricalModification'></p-checkbox>
      <div @slideHorizontal class='requirement-list' *ngIf='equipmentForm.electricalModification' class='form-flex-start indent'>
        <p-checkbox label='Volts' binary='true' [(ngModel)]='equipmentForm.volts'></p-checkbox>
        <p-checkbox label='Amps' binary='true' [(ngModel)]='equipmentForm.amp'></p-checkbox>
        <p-checkbox label='Phase' binary='true' [(ngModel)]='equipmentForm.phase'></p-checkbox>
        <p-checkbox label='Dedicated Power' binary='true' [(ngModel)]='equipmentForm.dedicatedPower'></p-checkbox>
        <p-checkbox label='Circuit Breaker Specification' binary='true' [(ngModel)]='equipmentForm.circuitBreakerSpecification'></p-checkbox>
        <p-checkbox label='Motor/Compressor (if applied) specification' binary='true' [(ngModel)]='equipmentForm.motorCompressorSpecification'></p-checkbox>
        <p-checkbox label='Special Conduit Requirements' binary='true' [(ngModel)]='equipmentForm.specialNeeds'></p-checkbox>
        <div *ngIf='equipmentForm.specialNeeds' @slideHorizontal class='form-flex-start indent'>
          <label>Specify</label>
          <input type="text" [(ngModel)]='equipmentForm.specialNeedsString' pInputText>
        </div>
        <p-checkbox label='FWR Paid For' binary='true' [(ngModel)]='equipmentForm.fwr'></p-checkbox>
        <div *ngIf='equipmentForm.fwr' @slideHorizontal class='form-flex-start indent'>
          <label>FWR Paid For By</label>
          <input type="text" [(ngModel)]='equipmentForm.fwrPaidBy' pInputText>
        </div>
      </div>
      <!-- HVAC -->
      <p-checkbox label='Heating,Ventilation, Air Conditioning Requirements (HVAC)' binary='true' [(ngModel)]='equipmentForm.hvac'></p-checkbox>
      <div @slideHorizontal class='form-flex-start indent' *ngIf='equipmentForm.hvac'>
        <p-checkbox label='Air/chilled water flow(s) requirement' binary='true' [(ngModel)]='equipmentForm.airChilledWaterFlow'></p-checkbox>
        <p-checkbox label='Temperature(s) setting/control requirement' binary='true' [(ngModel)]='equipmentForm.temperature'></p-checkbox>
        <p-checkbox label='Humidity control/requirement' binary='true' [(ngModel)]='equipmentForm.humidityControl'></p-checkbox>
        <p-checkbox label='Supply pressure (static operating) at users end' binary='true' [(ngModel)]='equipmentForm.supplyPressure'></p-checkbox>
        <p-checkbox label='Central package unit selection/specification' binary='true' [(ngModel)]='equipmentForm.centralPackageUnit'></p-checkbox>
        <p-checkbox label='Special duct work/AHU/damper/valving/motor (w/specifications as applied)' binary='true' [(ngModel)]='equipmentForm.specialWork'></p-checkbox>
        <p-checkbox label='Noise Requirement (if applied)' binary='true' [(ngModel)]='equipmentForm.noiseRequirement'></p-checkbox>
      </div>
      <!-- plumbing -->
      <p-checkbox label='Plumbing Modification(s)' binary='true' [(ngModel)]='equipmentForm.plumbing'></p-checkbox>
      <div @slideHorizontal class='form-flex-start indent' *ngIf='equipmentForm.plumbing'>
        <p-checkbox label='Fluid (water,natural gas, air, others)' binary='true' [(ngModel)]='equipmentForm.fluid'></p-checkbox>
        <p-checkbox label='Flow Rate (gpm,cfm)' binary='true' [(ngModel)]='equipmentForm.flowRate'></p-checkbox>
        <p-checkbox label='Pressure (static/operating) requirement (at users end)' binary='true' [(ngModel)]='equipmentForm.pressure'></p-checkbox>
        <p-checkbox label='Fluid temperature requirement' binary='true' [(ngModel)]='equipmentForm.fluidTemperature'></p-checkbox>
        <p-checkbox label='Pump/compressor/motor specifications' binary='true' [(ngModel)]='equipmentForm.pumpCompressorMotor'></p-checkbox>
      </div>
      <!-- network -->
      <p-checkbox label='Network Requirement(s)' binary='true' [(ngModel)]='equipmentForm.network'></p-checkbox>
      <div @slideHorizontal class='form-flex-start indent' *ngIf='equipmentForm.network'>
        <p-checkbox label='Maintenance' binary='true' [(ngModel)]='equipmentForm.maintenance'></p-checkbox>
        <p-checkbox label='License Requirements' binary='true' [(ngModel)]='equipmentForm.licenseRequirements'></p-checkbox>
        <p-checkbox label='Hardware' binary='true' [(ngModel)]='equipmentForm.hardware'></p-checkbox>
      </div>
      <!-- hazardous material-->
      <p-checkbox label='Hazardous Material' binary='true' [(ngModel)]='equipmentForm.hazardousMaterial'></p-checkbox>
      <div @slideHorizontal class='form-flex-start' *ngIf='equipmentForm.hazardousMaterial'>
        <!-- chemicals -->
        <p-dataTable [value]="equipmentForm.chemicals" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'chemical')">
          <p-header>Chemicals</p-header>
          <p-column field='key' header='Chemical'>
          </p-column>
          <p-column field='value' header='Quantity'>
          </p-column>
          <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
              <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('chemical')" label="Add"></button>
            </div>
          </p-footer>
        </p-dataTable>
        <!-- radiaton -->
        <p-dataTable [value]="equipmentForm.radiation" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event,'radiation')">
          <p-header>Radiation Use</p-header>
          <p-column field='key' header='Name'></p-column>
          <p-column field='value' header='Specification'></p-column>
          <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
              <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd('radiation')" label="Add"></button>
            </div>
          </p-footer>
        </p-dataTable>
      </div>
      <p-checkbox label='Maintenance Requirement' binary='true' [(ngModel)]='equipmentForm.maintenanceRequirement'></p-checkbox>
      <textarea pInputTextarea *ngIf='equipmentForm.maintenanceRequirement' [(ngModel)]="equipmentForm.maintenanceRequirements"
        autoResize="autoResize"></textarea>
    </div>
  </div>
  <app-form-footer [index]='index' [length]='breadCrumbStrings.length' (newIndex)='updateIndex($event)'></app-form-footer>
  <!-- dialog   -->
  <p-dialog header="bork" [(visible)]="displayDialog" [responsive]="true" showEffect="fade">
    <!-- typee of equipment -->
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="displayType=='typeOfEquipment'">
      <label>Name</label>
      <input pInputText [(ngModel)]="typeOfEquipment.name" />
      <label>Specification</label>
      <input pInputText [(ngModel)]="typeOfEquipment.specification" />
      <label>URL</label>
      <input pInputText [(ngModel)]="typeOfEquipment.url" />
    </div>
    <!-- chemicals -->
    <div *ngIf="displayType=='chemical'">
      <label>Chemical</label>
      <input pInputText [(ngModel)]="mapEntry.key" />
      <label>Quantity</label>
      <input pInputText [(ngModel)]="mapEntry.value" />
    </div>
    <!-- radiation -->
    <div *ngIf="displayType=='radiation'">
      <label>Radiation Agent</label>
      <input pInputText [(ngModel)]="mapEntry.key" />
      <label>Source</label>
      <input pInputText [(ngModel)]="mapEntry.value" />
    </div>
    <p-footer>
      <div>
        <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
