<div id='container' class=''>
    <!-- <img id='logo' src='../../../assets/images/logo.jpg' /> -->
    <form id='login' (ngSubmit)="submit()">
        <img id='logo' src='../../../assets/images/logo.jpg' />
        <span class="ui-float-label">
        <input id="username" type="text" size="30" pInputText [(ngModel)]="username" name="username" /> 
        <label for="username">Username</label>        
        </span>
        <p *ngIf=usernameFlag class='required-warning'>*required</p>
        <span class="ui-float-label">
        <input id="password" type="password" size="30" pInputText [(ngModel)]="password" name="password" /> 
        <label for="password">Password</label>        
        </span>
        <p *ngIf=passwordFlag class='required-warning'>*required</p>
        <div *ngIf=failedLoginFlag>
            <p-message *ngIf=true severity="error" text="Username or password is incorrect."></p-message>
        </div>
        <input pButton type="submit" label="Sign In" />
    </form>
</div>