<div id='dash-bar'>
  <h3 class = 'page-title'>{{userName}}'s Proposal's</h3>
  <button pButton label='Home' [routerLink]="['/home']" icon='fa-home' iconPos='right'></button>
  <button  pButton label='New Proposal'(click)="op.toggle($event)" icon='fa-plus' iconPos='right'></button>
</div>
<div id='proposals'>
  <p-dataTable [value]='usersProposals' (onRowSelect)='navigate($event.data.id)' selectionMode='single' [immutable]='false'>
    <p-header>Proposals</p-header>
    <p-column field='proposalName' header='Name'></p-column>
    <p-column field='dateCreated' header='Date Created'></p-column>
    <p-column field='status' header='Status'></p-column>
  </p-dataTable>
  <p-overlayPanel header="New Proposal" showEffect="fade" #op>
    <label>Proposal Name</label>
    <input type='input' pInputText [(ngModel)]='newProposalName'>
    <button class='button-blue' (click)='createProposal()'>Submit</button>
  </p-overlayPanel>
</div>
