:host {
    display: block;
    height: 100%;
    width: 80%;
    margin: 0 9.9%;
    padding: 1em;
    background-color: white;
}

#dash-bar,
#proposals {
    width: 100%;
}

.dash-bar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dash-bar-header>div {
    border: 1px solid yellow;
}

.proposal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}