<div id='dash-bar'>
  <label>{{userName}}'s Proposal's</label>
  <button class='button' [routerLink]="['/home']">Home</button>
  <button class='button-blue' (click)="op.toggle($event)" >New Proposal</button>
</div>
<div id='proposals'>
  <div class='dash-bar-header title'>
    <p>Name</p>
    <p>Date</p>
    <p>Status</p>
  </div>
  <div *ngFor='let proposal of usersProposals' class='proposal'>
    <label [routerLink]="['/editproposal', proposal.id]">{{proposal.proposalName}}</label>
    <label>{{proposal.dateCreated}}</label>
    <label>{{proposal.status}}</label>
  </div>
  <p-overlayPanel header="New Proposal" showEffect="fade" #op>
    <label>Proposal Name</label>
    <input type='input' pInputText [(ngModel)]='newProposalName'>
    <button class='button-blue' (click)='createProposal()'>Submit</button>
  </p-overlayPanel>
</div>
