:host {
  display: block;
  height: 100%;
  width: 80%;
  margin: 0 9.9%;
  padding: 1em;
  background-color: white;
}

#dash-bar {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom:1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.page-title {
    flex: 1;
}

#proposals {
  width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
  :host {
    display: block;
    height: 100%;
    width: auto !important;
    margin: 0 !important;
    background-color: white;
    padding: 1em;
  }
 form {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
 }
}
