<div *ngIf='menuState' id='menu-state'>
  <div id='dashboard'>
    <h3 id='name'>{{proposal?.proposalName}}</h3>
    <button pButton [routerLink]="['/pipreaward']" label='Pre Award'></button>
    <button pButton label='Help' icon='fa-question'></button>
  </div>
  <div id = 'form-container'>
    <div class='required-forms' id='intake' (click)='setCurrentForm("Intake")'>
      <p class='title'>Intake Form </p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>
      <label class='required-indicator required-form'>Required</label>

    </div>
    <div class='required-forms' id='timeline' (click)='setCurrentForm("Timeline")'>
      <p class='title'>Timeline</p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>

    </div>
    <div class='required-forms' id='approval' (click)='setCurrentForm("Approval")'>
      <p class='title'>Approval Form</p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>

      <label class='required-indicator required-form'>Required</label>

    </div>
    <div class='required-forms' (click)='setCurrentForm("Equipment")'>
      <p class='title'>Equipment</p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque. </p>
      <label class='optional-indicator optional-form'>Optional</label>
    </div>
    <div class='required-forms' (click)='setCurrentForm("coi-oi-phs")'>
      <p class='title'>COI OI KP PHS </p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>
      <label class='optional-indicator optional-form'>Optional</label>
    </div>
    <div class='required-forms' (click)='setCurrentForm("coi-oi-nonphs")'>
      <p class='title'>COI OI KP NONPHS</p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>
      <label class='optional-indicator optional-form'>Optional</label>
    </div>
    <div class='required-forms' (click)='setCurrentForm("coi-pi-phs")'>
      <p class='title'>COI PI PHS</p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>
      <label class='optional-indicator optional-form'>Optional</label>
    </div>
    <div class='required-forms' (click)='setCurrentForm("coi-pi-nonphs")'>
      <p class='title'>COI PI NON PHS</p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>
      <label class='optional-indicator optional-form'>Optional</label>
    </div>
    <div class='required-forms' (click)='setCurrentForm("economic-interest")'>
      <p class='title'>PI Statement Of Economic Interest</p>
      <div class='progress-bar' [ngStyle]='setProgressBar(50)'>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>
      <label class='optional-indicator optional-form'>Optional</label>
    </div>
  </div>
</div>

<div *ngIf='routerState' id='router-container'>
  <button pButton id='menu-return' (click)='changeState()' label='Forms' icon='fa-arrow-up'></button>
  <app-intake *ngIf='currentForm=="Intake"'></app-intake>
  <!-- <app-budget *ngIf='currentForm=="Budget"'></app-budget> -->
  <app-equipment *ngIf='currentForm=="Equipment"'></app-equipment>
  <app-approval *ngIf='currentForm=="Approval"'></app-approval>
  <app-timeline *ngIf='currentForm=="Timeline"'></app-timeline>
  <app-coi *ngIf='currentForm=="coi-oi-phs"' [type]='"OIPHS"'></app-coi>
  <app-coi *ngIf='currentForm=="coi-oi-nonphs"' [type]='"OINONPHS"'></app-coi>
  <app-coi *ngIf='currentForm=="coi-pi-phs"' [type]='"PIPHS"'></app-coi>
  <app-coi *ngIf='currentForm=="coi-pi-nonphs"' [type]='"PINONPHS"'></app-coi>
  <app-economic-interest *ngIf='currentForm=="economic-interest"'></app-economic-interest>
</div>
