<div *ngIf='showSpinner' class='spinner' class='spinner-container'>
  <p-progressSpinner  animationDuration='.75s'></p-progressSpinner>
</div>

<div @fade *ngIf='menuState && !showSpinner' id='menu-state'>
  <div id='dashboard'>
    <h3 id='name'>{{proposal?.proposalName}}</h3>
    <button pButton [routerLink]="['/pipreaward']" label='Pre Award'></button>
    <button pButton label='Help' icon='fa-question'></button>
  </div>
  <div id='menu-container'>
    <!-- timeline -->
    <div class='required-forms' id='timeline' (click)='setCurrentForm("Timeline")'>
      <p class='title'>Timeline</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corrupti assumenda quibusdam culpa beatae. Molestias
        earum quaerat sit incidunt illo a in, corrupti enim soluta iure qui dolorum ratione itaque.</p>
    </div>
    <!-- forms -->
     <div id='forms'>
      <div class='required-forms' (click)='setCurrentForm("Intake")'>
        <p class='title'>Intake Form </p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
        <img src='../../../assets/images/file.png' class='form-image'>
      </div>
      <div class='required-forms' (click)='setCurrentForm("Approval")'>
        <p class='title'>Approval Form</p>
        <img src='../../../assets/images/file.png' class='form-image'>

      </div>
      <div class='required-forms' (click)='setCurrentForm("Equipment")'>
        <p class='title'>Equipment Form</p>
        <img src='../../../assets/images/file.png' class='form-image'>

      </div>
      <div class='required-forms' (click)='setCurrentForm("economic-interest")'>
        <p class='title'>PI Statement Of Economic Interest</p>
        <img src='../../../assets/images/file.png' class='form-image'>

      </div>
    </div>
    <!-- tables -->
    <div id='tables'>
      <!-- <div class='required-forms' (click)='setCurrentForm("coi")'></div> -->
      <p-dataTable [value]='proposal?.conflictOfInterestForms' selectionMode='single' (onRowSelect)='coiSelect($event)'>
          <p-header>Conflict Of Interest Forms</p-header>
          <p-column field='type' header='Type'></p-column>
          <p-column field='progress' header='Progress'></p-column>
        </p-dataTable>
    </div>
  </div>
</div>

<div @fade *ngIf='routerState' id='router-container'>
  <button pButton id='menu-return' (click)='changeState()' label='Forms' icon='fa-arrow-up'></button>
  <app-intake *ngIf='currentForm=="Intake"'></app-intake>
  <app-equipment *ngIf='currentForm=="Equipment"'></app-equipment>
  <app-approval *ngIf='currentForm=="Approval"'></app-approval>
  <app-timeline *ngIf='currentForm=="Timeline"'></app-timeline>
  <app-coi *ngIf='currentForm=="coi"'></app-coi>
  <app-economic-interest *ngIf='currentForm=="economic-interest"'></app-economic-interest>
</div>
