:host {
  display: block;
  min-height: 100%;
  bottom: 0;
  width: 80%;
  margin: 0 9.9%;
  padding: 1em;
  background-color: white;
}

#menu-state {
  height: 90%;
  width: 100%;
}

#dashboard {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom:1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#name{
    flex: 1;
  }

/* grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>; */
#form-container {
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.required-forms {
  background-color: #fafafa;
  border: 1px solid #2790b0;
  box-shadow: 0 0 20px #cecbcb;
  font-size: 1em;
  position: relative;
}
/* #2790b0 */
.required-forms:hover {
  background-color: rgba(221, 221, 221, 0.795);
  border: 1px solid rgb(241, 199, 45);
  box-shadow: 0 0 20px rgb(241, 199, 45);
  font-size: 1em;
  position: relative;
  cursor: pointer;
}

.progress-bar {
  background-color: rgb(46, 236, 29);
  height: 2px;
  width: 50%;
}

p {
  margin: 0;
  padding: .5em;
}

.required-form {
  position: absolute;
  bottom: .5em;
  right: .5em;
}

.optional-form {
  position: absolute;
  bottom: .5em;
  right: .5em;
}

#router-container {
  height: 100%;
  width: 100%;
  background-color: white;
}
.spinner-container {
  height:90vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
}	

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #55b8da;
  }
  40% {
      stroke: #3570b5;
  }
  66% {
      stroke: #1a3999;
  }
  80%,
  90% {
      stroke: #3570b5;
  }
}