/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Raleway', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Symbol"; */
  vertical-align: baseline;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: linear-gradient(to bottom right, #5bc0de, #142f94);
}

.title {
  margin: 0;
  padding: 2px !important;
  font-size: 1.2em;
  text-align: center;
  font-weight: 400;
  color: white;
  width: 100%;
}

/* forms */

.form-title {
  width: 100%;
  background: linear-gradient(#52aed5, #4894c7);
  padding: .5em 1px;
  color: white;
  text-align: center;
  font-weight: 500;

}

.form-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-flex-start>* {
  margin: 4px 0;
}

.indent {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 3px solid rgb(39, 144, 176);
}
select {
  padding:.5em 1em .25em 2.1em;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
    background: #fafafa;
    color: #081c22;
}
/* primeng */
.ui-datatable {
  margin-top: .5em;
}

.ui-widget-header {
  background: linear-gradient(#52aed5, #4894c7) !important;
}
