/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Quattrocento', serif;
    vertical-align: baseline;
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
/* buttons */
.required-indicator {
    padding: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(210, 52, 52);
    border-radius: 2px;
}

.optional-indicator {
    padding: 3px;
    color: rgb(46, 46, 46);
    background-color: rgb(197, 197, 197);
    border-radius: 2px;
}
/* windows */
.main-window {
    color: rgb(36, 36, 36);
    background-color: rgb(241, 241, 241);
    border: 2px solid rgb(254, 220, 89);
    box-shadow: 0 0 20px #cecbcb;
    font-size: 1em;
    position: relative;
}

.main-window:hover {
    background-color: rgba(221, 221, 221, 0.795);
    border: 2px solid rgb(241, 199, 45);
    box-shadow: 0 0 20px rgb(241, 199, 45);
    font-size: 1em;
    position: relative;
    transform: translate(1px, 1px);
    cursor: pointer;
}

.title {
    margin: 0;
    padding: 2px;
    background-color: rgb(255, 243, 182);
    color: rgb(36, 36, 36);
}
/* forms */
.form-title {
    width: 100%;
    background-color: #fff3b5;
    border: 2px solid #ffd400;
}
.form-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



/* c6c5c5 */